<h2>Productos</h2>
<hr>
<br><br>

<ul>
    {{#each productos}}
        <li>
            <h3><strong>Nombre: </strong>{{title}}</h3>
            <p><strong>Descripcion: </strong>{{description}}</p>
            <span><strong>Precio: </strong>{{price}}</span>
        </li>
    {{/each}}
</ul>